.DS_Store

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
*.cmake

# Object files
*.a
*.so
*.dylib

# Configs
config*.json
!config.example.json

/build/_workspace/
/build/bin/

.idea

bin

.env

*_state_*
